<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Protocol" value="Mqtt" /> <!--Mqtt or Serial-->

    <!--Mqtt Protocol config settings-->
    <add key="MqttHost" value="212.72.74.21" />
    <!--broker.mqttdashboard.com-->
    <add key="MqttPort" value="1883" />
    <add key="MqttUsername" value="" />
    <add key="MqttPassword" value="" />
    <add key="MqttTopicRoot" value="/beakn/" />
    <add key="MqttClientName" value="beakn-windows-client" />
    <add key="MqttPairingCode" value="1" />

    <!--Serial Protocol config settings-->
    <add key="SerialCOMPort" value="COM5"/>
    <add key="SerialBaudRate" value="115200"/>
    <add key="SerialDtrEnable" value="false"/>
    <add key="SerialBoardType"  value="BoardType.Bit16"/> <!--BoardType.Bit16 or BoardType.Bit32-->
  </appSettings>
</configuration>